<h3><%= @song.title %></h3>
<p>
  Released: <%= @song.released %><br>
  Release Year: <%= @song.release_year %><br>
  Artist: <%= @song.artist_name %><br>
  Genre: <%= @song.genre %><br>
  <%= @song.created_at %><br>
  <%= @song.updated_at %>
</p>